.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#panel {
    width: 25%;
}
#body{
    width: 75%;
}
.create-endpoint {
    display: none;
}
.create-model {
    display: none;
}